<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />

    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TradeReporter.Service.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
      <target name="colouredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}">
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
        <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      </target>
      <target name="infoFile" xsi:type="File" layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}" fileName="${basedir}/logs/info.log" keepFileOpen="false" archiveEvery="Day" encoding="iso-8859-2" />
      <target name="errorFile" xsi:type="File" layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}" fileName="${basedir}/logs/error.log" keepFileOpen="false" archiveEvery="Day" encoding="iso-8859-2" />
      <target name="debugger" xsi:type="Debugger" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
      <target name="email" xsi:type="Mail" to="DIST-JPKSTA-DocPro-SysAdmin@woodgroup.com" smtpServer="smtpemea.woodgroup.com" from="docpro.service@woodgroupkenny.com" />
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" writeTo="debugger" />
      <logger name="*" minlevel="Debug" writeTo="colouredConsole" />
      <logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoFile" />
      <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="errorFile" />
      <!--<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="email" />-->
    </rules>
  </nlog>
  <userSettings>
    <TradeReporter.Service.Settings>
      <setting name="ReportInterval" serializeAs="String">
        <value>60</value>
      </setting>
    </TradeReporter.Service.Settings>
  </userSettings>
</configuration>